body {
  background-color: turquoise;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

.color3 {
  background-color: rgb(32, 64, 86);
  height: 200px;
  width: 25%;
  border-radius: 5px;
  border: 2px solid white;
}
